<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/teacher-style.css')}}">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script src="{{url_for('static', filename='js/teacher-dashboard.js')}}"></script>
        <title>{{name}} | Math Connect Teacher View</title>
    </head>
    <body>
        <div id="whiteboard">
            <canvas id="myCanvas"></canvas>
        </div>

        <div id="function-row">
            <button id="push" class="functions" id="push">PUSH</button>
            <button id="clear" class="functions" id="split">CLEAR</button>
            <button id="check" class="functions" id="check">CHECK</button>
        <div>
        <div id="eq_editor">
            <div class="ui action input" id="eq_inteface">
                <input type="text" id="eq_input" placeholder="Enter equation in LaTeX">
                <button class="ui icon button" id="eq_upload">
                    <i class="angle double up icon"></i>
                </button>
            </div>
        </div>
        <div id="chatbox">
            <table id="chatlog">
            </table>
            <div class="ui action input">
                <input type="text" id="chat" placeholder="Type to chat">
                <button class="ui icon button" id="send">
                    <i class="angle double up icon"></i>
                </button>
            </div>
        </div>
    </body>
</html>