#whiteboard {
    background-color: lightgray;
    border-style: solid;
    width: 70vw;
    height: 80vh;
    position: absolute;
    left: 1vh;
    top: 1vw;
}

#function-row {
    width: 26vw;
    height: 10vh;
    position: absolute;
    right: 1vw;
    top: 1vw;
    border-style:solid;
}

#workspace {
    position: absolute;
    top: 11vh;
    right: 1vw;
    height: 20vh;
    width: 26vw;
    border-style: solid;
    background-color: lightgray;
}

#chat {
    position:absolute;
    top: 32vh;
    right: 1vw;
    width: 2vw;
    height: 20vh;
    border-style: solid;
    background-color: lightsalmon;
}

.functions {
    padding: 0px;
    margin: 0px;
}

button.functions {
    width: 7vw;
    height: 7vh;
}

#chat {
    width: 30vw;
}

#workspace {
    width: 30vw;
}

#table_wrapper {
    border-style:solid;
    width: 75px;
    height: 90px;
}

#color_bar {
    background-color: red;
    width: 10px;
    height: 50px;
}

img {
    width: 50px;
    height: 50px;
}