#whiteboard {
    background-color: lightgray;
    border-style: solid;
    width: 70vw;
    height: 80vh;
    position: absolute;
    left: 1vh;
    top: 1vw;
}

#function-row {
    width: 26vw;
    height: 10vh;
    position: absolute;
    right: 1vw;
    top: 1vw;
    border-style:solid;
}

#workspace {
    position: fixed;
    top: 15vh;
    right: 1vw;
    height: 43vh;
    width: 27vw;
    border-style: solid;
    background-color: lightgray;
}

#chat {
    position: fixed;
    top: 62vh;
    right: 1vw;
    width: 27vw;
    height: 31vh;
    border-style: solid;
    background-color: lightsalmon;
}

.functions {
    padding: 0px;
    margin: 0px;
}

button.functions {
    width: 7vw;
    height: 7vh;
}


#table_wrapper {
    border-style:solid;
    width: 75px;
    height: 90px;
}

#color_bar {
    background-color: red;
    width: 10px;
    height: 50px;
}

img {
    width: 50px;
    height: 50px;
}