body {
    background-color: lightblue;
}

#content {
    position:fixed;
    background-color: lightgray;
    border-style: solid;
    width: 70vw;
    height: 80vh;
    position: fixed;
    left: 1vw;
    top: 1vh;
}

#con {
    position:relative;
    width:70vw;
    height:80vh;
    left:-0.25vw;
    top:-0.25vh;
}

#color {
    position: fixed;
    background-color: white;
    outline-style: solid;
    outline-color: black;
    left: 72vw;
    top: 1vh;
    width: 27vw;
    height: 15vh;
}

#colorwheel {
    position: absolute;
    width: 25.2vw;
    height: 12vh;
    top: 0.5vh;
    left:0.8vw;
}

#myCanvas {
    position: fixed;
    top: 17vh;
    left: 72vw;
    height: 81vh;
    width: 27vw;
    border-style: solid;
    background-color: lightgray;
    cursor:crosshair;
}

.functions {
    padding: 0px;
    margin: 0px;
}

button.functions {
    width: 7vw;
    height: 7vh;
}

#user_marker {
    position:fixed;
    border-style:solid;
    left:1vw;
    top:83vh;
    width:20vw;
    height:15vh;
    background-color: red;
}

#icon {
    position: fixed;
    border-style:solid;
    left: 22vw;
    top: 83vh;
    width: 13vh;
    height: 13vh;
}

img.profile {
    position:absolute;
    top:0.125vh;
    left:0.125vh;
    width: 12vh;
    height: 12vh;
}